<div class="welcome_message">
  <center><h1>Welcome to Joey's Portfolio</h1></center>
  <center><h3>Software Engineer</h3></center>
</div>

<div class="buttons">
  <center> <%= button_to 'About Me', info_index_path, method: :get%></center>
  <center> <%= button_to 'Projects', projects_path, method: :get %></center>
  <center> <%= button_to 'Skills', skills_path, method: :get %></center>
  <center> <%= button_to 'Contact Info', contact_index_path, method: :get %></center>
</div>